@{
    ViewBag.Title = "Home";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
    </section>

    <div class="row">
        <section class="col-md-4" aria-labelledby="librariesTitle">
            <h2 id="librariesTitle">Members</h2>
            <p></p>
            <p>@Html.ActionLink("Show »", "Index", "Member", null, new { @class = "btn btn-outline-dark" })</p>
        </section>
        <section class="col-md-4" aria-labelledby="librariesTitle">
            <h2 id="librariesTitle">Services</h2>
            <p></p>
            <p>@Html.ActionLink("Show »", "Index", "Service", null, new { @class = "btn btn-outline-dark" })</p>
        </section>
        <section class="col-md-4" aria-labelledby="librariesTitle">
            <h2 id="librariesTitle">Offers</h2>
            <p></p>
            <p>@Html.ActionLink("Show »", "Index", "Offer", null, new { @class = "btn btn-outline-dark" })</p>
        </section>
        <section class="col-md-4" aria-labelledby="librariesTitle">
            <h2 id="librariesTitle">Trainer</h2>
            <p></p>
            <p>@Html.ActionLink("Show »", "Index", "Trainer", null, new { @class = "btn btn-outline-dark" })</p>
        </section>
        <section class="col-md-4" aria-labelledby="librariesTitle">
            <h2 id="librariesTitle">Reports</h2>
            <p></p>
            <p>@Html.ActionLink("Show »", "Index", "Report", null, new { @class = "btn btn-outline-dark" })</p>
        </section>
        <section class="col-md-4" aria-labelledby="librariesTitle">
            <h2 id="librariesTitle">Actions</h2>
            <p></p>
            <p>@Html.ActionLink("Show »", "Index", "Action", null, new { @class = "btn btn-outline-dark" })</p>
        </section>
    </div>
</main>