@model IEnumerable<MyClubLib.Models.MemberOffer>


@{
    ViewBag.Title = "Offer";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Member.MemberName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaymentAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaymentDate)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.CreatedById)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreationDate)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrainerId)
            </th>
            <td>
                @Html.DisplayNameFor(model => model.CurrentStatusId)
            </td>

            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Member.MemberName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PaymentAmount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PaymentDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CurrentStatusId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedById)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreationDate)
                </td>


                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.TrainerId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CurrentStatusId)
                </td>

                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.MemberOfferId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.MemberOfferId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.MemberOfferId })
                </td>
            </tr>
        }

    </table>
</body>
</html>
