@model MyClubLib.Models.Person

@{
    ViewBag.Title = "Signup";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Registration</title>
    <link rel="icon" href="~/images/freepik-export-20240715061812u1zF.png" />
    <link rel="stylesheet" href="~/Content/signup.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body>
    @if (ViewBag.Error != null)
    {
        <div class="alert alert-danger">
            @ViewBag.Error
        </div>
    }

    <div class="container">
        <header>Sign up</header>
        <div class="progress-bar">
            <div class="step">
                <p>Name</p>
                <div class="bullet">
                    <span><i class="fa-solid fa-user"></i></span>
                </div>
                <div class="check fas fa-check"></div>
            </div>
            <div class="step">
                <p>Contact</p>
                <div class="bullet">
                    <span><i class="fa-solid fa-id-card"></i></span>
                </div>
                <div class="check fas fa-check"></div>
            </div>
            <div class="step">
                <p>Birth</p>
                <div class="bullet">
                    <span><i class="fa-solid fa-cake-candles"></i></span>
                </div>
                <div class="check fas fa-check"></div>
            </div>
            <div class="step">
                <p>Submit</p>
                <div class="bullet">
                    <span><i class="fa-solid fa-clipboard-check"></i></span>
                </div>
                <div class="check fas fa-check"></div>
            </div>
        </div>

        <div class="form-outer">
            @using (Html.BeginForm("Signup", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()

                <div class="page slide-page">
                    <div class="title">Basic Info:</div>
                    <div class="field">
                        <div class="label">@Html.LabelFor(model => model.PersonName)</div>
                        @Html.EditorFor(model => model.PersonName, new { htmlAttributes = new { @class = "form-control", id = "PersonName", required = "required" } })
                        @Html.ValidationMessageFor(model => model.PersonName, "", new { @class = "text-danger" })
                    </div>
                    <div class="field">
                        <div class="label">@Html.LabelFor(model => model.Address)</div>
                        @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control", id = "Address", required = "required" } })
                        @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                    </div>
                    <div class="field">
                        <div class="label">@Html.LabelFor(model => model.Nationality)</div>
                        @Html.EditorFor(model => model.Nationality, new { htmlAttributes = new { @class = "form-control", id = "Nationality", required = "required" } })
                        @Html.ValidationMessageFor(model => model.Nationality, "", new { @class = "text-danger" })
                    </div>
                    <div class="field">
                        <button class="firstNext next">Next</button>
                    </div>
                </div>

                <div class="page">
                    <div class="title">Contact Info:</div>
                    <div class="field">
                        <div class="label">@Html.LabelFor(model => model.Email)</div>
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", id = "Email", required = "required" } })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </div>
                    <div class="field">
                        <div class="label">@Html.LabelFor(model => model.MobileNumber)</div>
                        @Html.EditorFor(model => model.MobileNumber, new { htmlAttributes = new { @class = "form-control", id = "MobileNumber", required = "required" } })
                        @Html.ValidationMessageFor(model => model.MobileNumber, "", new { @class = "text-danger" })
                    </div>
                    <div class="field">
                        <div class="label">@Html.LabelFor(model => model.HomePhoneNumber)</div>
                        @Html.EditorFor(model => model.HomePhoneNumber, new { htmlAttributes = new { @class = "form-control", id = "HomePhoneNumber", required = "required" } })
                        @Html.ValidationMessageFor(model => model.HomePhoneNumber, "", new { @class = "text-danger" })
                    </div>
                    <div class="field btns">
                        <button class="prev-1 prev">Previous</button>
                        <button class="next-1 next">Next</button>
                    </div>
                </div>

                <div class="page">
                    <div class="title">Date of Birth:</div>
                    <div class="field">
                        <div class="label">@Html.LabelFor(model => model.BirthDate)</div>
                        @Html.EditorFor(model => model.BirthDate, new { htmlAttributes = new { @class = "form-control", id = "BirthDate", required = "required", type = "date" } })
                        @Html.ValidationMessageFor(model => model.BirthDate, "", new { @class = "text-danger" })
                    </div>
                    <div class="field">
                        <div class="label">@Html.LabelFor(model => model.Gender)</div>
                        @Html.EditorFor(model => model.Gender, new { htmlAttributes = new { @class = "form-control", id = "Gender", required = "required" } })
                        @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger" })
                    </div>
                    <div class="field btns">
                        <button class="prev-2 prev">Previous</button>
                        <button class="next-2 next">Next</button>
                    </div>
                </div>

                <div class="page">
                    <div class="title">Login Details:</div>
                    <div class="field">
                        <div class="label">@Html.LabelFor(model => model.Password)</div>
                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", id = "Password", required = "required", type = "password" } })
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                    </div>
                    <div class="field btns">
                        <button class="prev-3 prev">Previous</button>
                        <button class="submit">Submit</button>
                    </div>
                </div>
            }
        </div>
    </div>
    <script src="~/Scripts/signup.js"></script>
</body>
<footer style="display:flex; justify-content:center;color:grey; margin-top:5px;">
    <p>All rights reserved &copy; @DateTime.Now.Year ICEAlex.</p>
</footer>
</html>
